<%- include('partials/head')%>



    <%- include('partials/navbar')%>
        <%- include('partials/banner')%>

            <div class="container-fluid">



                <div class="lister">Today's hottest anime:</div>

                <div class="row">
                    <% for(let anime of animes) { %>
                        <div class="card-block" style="width: 10rem;">
                            <div class="column">
                                <a href="/anime/<%=anime._id%>"><img src="<%= anime.image%>" alt="" class="card-img-top"
                                        style="height: 13rem;">
                                </a>
                            </div>
                            <p>
                                <%= anime.title.english%>
                            </p>
                        </div>
                        <% } %>
                </div>

            </div>







            <%- include('partials/footer')%>